################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/.idea
/Resources/identifier.sqlite
/Resources/ImageRepo.db